<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white shadow-lg rounded-2xl p-8 w-full max-w-md text-center">
    <h2 class="text-3xl font-bold mb-6 text-[#00A89D]">Recuperar Contraseña</h2>
    <p class="text-gray-600 mb-4">
      Ingresa tu correo electrónico para recibir un enlace de recuperación.
    </p>

    <form #forgotForm="ngForm" (ngSubmit)="onSubmit(forgotForm)">
      <div class="relative mb-6">
        <div class="absolute left-3 top-1/2 transform -translate-y-1/2">
          <iconify-icon
            icon="mdi:email"
            width="22"
            height="22"
            class="text-gray-500"
          ></iconify-icon>
        </div>
        <input
          type="email"
          name="email"
          [(ngModel)]="email"
          placeholder="Correo electrónico"
          required
          email
          class="w-full border pl-12 pr-4 py-2 rounded-md focus:outline-none bg-gray-100"
        />
      </div>

      <button
        type="submit"
        class="w-full py-3 rounded-full text-white text-lg font-semibold transition duration-300 bg-[#00A89D] hover:bg-[#009387]"
      >
        Enviar enlace
      </button>
    </form>

    <button
      class="mt-4 text-[#F28C7F] underline hover:text-[#e07a6e]"
      (click)="goToLogin()"
    >
      ← Volver al inicio de sesión
    </button>
  </div>
</div>
